.project-content {
    display: flex;
    flex-wrap: wrap;
}



/* -----This is the section for the information section of the page which is the content in the top left corner- */


.info-section {
    margin: 2em;
    background-color: wheat;
    height: max-content;
    width: 50em;
}





.c-name {
    margin: .2em;
    font-size: 1.6em;
}




.p-name {
    text-align: center;
    font-size: 2.5em;
}



.c-logo {
    margin-left: 23em;
    margin-bottom: 1em;


    background-color: white;
    width: max-content;
    padding: 60px;
    border-radius: 100%;
    font-size: 1.6em;
}



.project-image {
    background-image: url(../../../images/skyscraper-4544131_640.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 300px;
}





.project-description {
    background-color: rgb(128, 115, 115);
    margin: 1em;
    height: 150px;
}





.project-desc-title {
    padding: .4em;
    font-size: 1.1em;
}




.project-desc-text {
    margin: .2em;
}




.project-list-content {
    margin: 1em;
    background-color: rgb(177, 60, 60);
    
}



.proj-list-title {
    text-align: center;
    background-color: rgb(174, 141, 141);
    padding: .5em;
}



.project-details-list {

}


.details-list-items {
    display: flex;
    margin: 1em;
}




/* ---------------------------------------------------- --------------------------------------------------------------*/




/* ---This is for the followers section------------------------------------------------------------------------ */

.followers {
    margin: 2em;
    background-color: wheat;
    height: 500px;
    width: 300px;
}












/* ----------------------------------------------------------------------------------------------------------------------- */






/* ---This is for the comments section ------------------------------------------------------------------------------------  */


.comments {
    margin: 2em;
    background-color: wheat;
    height: 400px;
    width: 500px;
}








/* ---------------------------------------------------------------------------------------------------------------------------- */





/* ----This is for the notes section ------------------------------------------------------------------------------------------------ */



.notes {
    margin: 2em;
    background-color: wheat;
    height: 500px;
    width: 1000px;
}















/* ------------------------------------------------------------------------------------------------------------------------------------- */